div.app > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--red-color);
    padding: 2rem;
    color: beige;
}

div.app > header a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    gap: 1rem;
}

nav > p {
    align-self: center;
    font-weight: bold;
}

nav > div.button {
    padding: 0.5rem 0;
    width: 80px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

nav > div.button:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

nav > div.button:first-child {
    margin-right: 1rem;
}

nav > div.button a {
    text-decoration: none;
    color: black;
}

nav > div.button > p {
    color: black;
}

